@import "reset";
@import "variables/global";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

#root {
    min-height: 100vh;
    display: flex;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    height: auto;
}

.bar {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    border: 2px solid var(--primary-color);
}

input,
button {
    border-radius: 5px;
    padding: 10px 15px;
}
